# Week 5 Quiz

This notebook contains the SQL Quiz for Week 5. Section 1 uses the New York City data we know and love. Section 2 uses building footprint data from the Google Open Buildings dataset.

INSTRUCTIONS:

Run this notebook in Google Colab. The answer to each quesiton will be a number or a string. Input these into the corresponding question on Moodle. You have 90 minutes to attempt the quiz, so if you get stuck on a question, move on.

Make sure you run all of the cells of code in order, especially the ones that already have code in them! If you run into serious problems, try clicking on the "runtime" tab above and selecting "restart session and run all".
Use the cells below for any necessary setup.

In [ ]:
# Step 1
%pip install duckdb leafmap lonboard
import duckdb
import leafmap

Requirement already satisfied: duckdb in /usr/local/lib/python3.12/dist-packages (1.3.2)
Collecting leafmap
  Downloading leafmap-0.60.0-py2.py3-none-any.whl.metadata (17 kB)
Collecting lonboard
  Downloading lonboard-0.13.0-py3-none-any.whl.metadata (5.2 kB)
Requirement already satisfied: anywidget in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.9.21)
Requirement already satisfied: bqplot in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.12.45)
Collecting duckdb
  Downloading duckdb-1.4.4-cp312-cp312-manylinux_2_26_x86_64.manylinux_2_28_x86_64.whl.metadata (4.3 kB)
Requirement already satisfied: folium in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.20.0)
Requirement already satisfied: gdown in /usr/local/lib/python3.12/dist-packages (from leafmap) (5.2.1)
Collecting geojson (from leafmap)
  Downloading geojson-3.2.0-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: geopandas in /usr/local/lib/python3.12/dist-packages (from leafmap) (1.1.2)
Requirement already satisfied: ipyevents in /usr/local/lib/python3.12/dist-packages (from leafmap) (2.0.4)
Requirement already satisfied: ipyfilechooser in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.6.0)
Requirement already satisfied: ipyleaflet in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.20.0)
Collecting ipyvuetify (from leafmap)
  Downloading ipyvuetify-1.11.3-py2.py3-none-any.whl.metadata (7.5 kB)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.12/dist-packages (from leafmap) (7.7.1)
Collecting maplibre (from leafmap)
  Downloading maplibre-0.3.6-py3-none-any.whl.metadata (4.2 kB)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (from leafmap) (3.10.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from leafmap) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from leafmap) (2.2.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.12/dist-packages (from leafmap) (5.24.1)
Collecting pystac-client (from leafmap)
  Downloading pystac_client-0.9.0-py3-none-any.whl.metadata (3.1 kB)
Requirement already satisfied: python-box in /usr/local/lib/python3.12/dist-packages (from leafmap) (7.3.2)
Requirement already satisfied: scooby in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.11.0)
Collecting whiteboxgui (from leafmap)
  Downloading whiteboxgui-2.3.0-py2.py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: xyzservices in /usr/local/lib/python3.12/dist-packages (from leafmap) (2025.11.0)
Collecting arro3-compute>=0.4.1 (from lonboard)
  Downloading arro3_compute-0.6.5-cp311-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (328 bytes)
Collecting arro3-core>=0.4.1 (from lonboard)
  Downloading arro3_core-0.6.5-cp311-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (363 bytes)
Collecting arro3-io>=0.4.1 (from lonboard)
  Downloading arro3_io-0.6.5-cp311-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (323 bytes)
Collecting geoarrow-rust-core>=0.5.2 (from lonboard)
  Downloading geoarrow_rust_core-0.6.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (365 bytes)
Requirement already satisfied: pyproj>=3.3 in /usr/local/lib/python3.12/dist-packages (from lonboard) (3.7.2)
Requirement already satisfied: traitlets>=5.7.1 in /usr/local/lib/python3.12/dist-packages (from lonboard) (5.7.1)
Requirement already satisfied: typing-extensions>=4.12.0 in /usr/local/lib/python3.12/dist-packages (from lonboard) (4.15.0)
Requirement already satisfied: psygnal>=0.8.1 in /usr/local/lib/python3.12/dist-packages (from anywidget->leafmap) (0.15.1)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (6.17.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (3.6.10)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (7.34.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (3.0.16)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from pyproj>=3.3->lonboard) (2026.1.4)
Requirement already satisfied: traittypes>=0.0.6 in /usr/local/lib/python3.12/dist-packages (from bqplot->leafmap) (0.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->leafmap) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->leafmap) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->leafmap) (2025.3)
Requirement already satisfied: branca>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from folium->leafmap) (0.8.2)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.12/dist-packages (from folium->leafmap) (3.1.6)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from folium->leafmap) (2.32.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.12/dist-packages (from gdown->leafmap) (4.13.5)
Requirement already satisfied: filelock in /usr/local/lib/python3.12/dist-packages (from gdown->leafmap) (3.20.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from gdown->leafmap) (4.67.2)
Requirement already satisfied: pyogrio>=0.7.2 in /usr/local/lib/python3.12/dist-packages (from geopandas->leafmap) (0.12.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from geopandas->leafmap) (26.0)
Requirement already satisfied: shapely>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from geopandas->leafmap) (2.1.2)
Requirement already satisfied: jupyter-leaflet<0.21,>=0.20 in /usr/local/lib/python3.12/dist-packages (from ipyleaflet->leafmap) (0.20.0)
Collecting ipyvue<2,>=1.7 (from ipyvuetify->leafmap)
  Downloading ipyvue-1.11.3-py2.py3-none-any.whl.metadata (987 bytes)
Collecting eval-type-backport (from maplibre->leafmap)
  Downloading eval_type_backport-0.3.1-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: pydantic>=2.5.3 in /usr/local/lib/python3.12/dist-packages (from maplibre->leafmap) (2.12.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (1.4.9)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (3.3.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.12/dist-packages (from plotly->leafmap) (9.1.2)
Collecting pystac>=1.10.0 (from pystac[validation]>=1.10.0->pystac-client->leafmap)
  Downloading pystac-1.14.3-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: ipytree in /usr/local/lib/python3.12/dist-packages (from whiteboxgui->leafmap) (0.2.2)
Collecting whitebox (from whiteboxgui->leafmap)
  Downloading whitebox-2.3.6-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: debugpy>=1.0 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (1.8.15)
Requirement already satisfied: jupyter-client>=6.1.12 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (7.4.9)
Requirement already satisfied: matplotlib-inline>=0.1 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (0.2.1)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (1.6.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (5.9.5)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (26.2.1)
Requirement already satisfied: tornado>=6.1 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (6.5.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (75.2.0)
Collecting jedi>=0.16 (from ipython>=4.0.0->ipywidgets->leafmap)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (4.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2>=2.9->folium->leafmap) (3.0.3)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2.5.3->maplibre->leafmap) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.4 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2.5.3->maplibre->leafmap) (2.41.4)
Requirement already satisfied: typing-inspection>=0.4.2 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2.5.3->maplibre->leafmap) (0.4.2)
Requirement already satisfied: jsonschema~=4.18 in /usr/local/lib/python3.12/dist-packages (from pystac[validation]>=1.10.0->pystac-client->leafmap) (4.26.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->leafmap) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->folium->leafmap) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->folium->leafmap) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->folium->leafmap) (2.5.0)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.12/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets->leafmap) (6.5.7)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->gdown->leafmap) (2.8.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown->leafmap) (1.7.1)
Requirement already satisfied: Click>=6.0 in /usr/local/lib/python3.12/dist-packages (from whitebox->whiteboxgui->leafmap) (8.3.1)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets->leafmap) (0.8.5)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema~=4.18->pystac[validation]>=1.10.0->pystac-client->leafmap) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.12/dist-packages (from jsonschema~=4.18->pystac[validation]>=1.10.0->pystac-client->leafmap) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.12/dist-packages (from jsonschema~=4.18->pystac[validation]>=1.10.0->pystac-client->leafmap) (0.37.0)
Requirement already satisfied: rpds-py>=0.25.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema~=4.18->pystac[validation]>=1.10.0->pystac-client->leafmap) (0.30.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.12/dist-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->leafmap) (0.4)
Requirement already satisfied: jupyter-core>=4.9.2 in /usr/local/lib/python3.12/dist-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->leafmap) (5.9.1)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (25.1.0)
Requirement already satisfied: nbformat in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (5.10.4)
Requirement already satisfied: nbconvert>=5 in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (7.17.0)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (2.1.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.18.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.24.1)
Requirement already satisfied: nbclassic>=0.4.7 in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.3.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython>=4.0.0->ipywidgets->leafmap) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets->leafmap) (0.5.3)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.12/dist-packages (from jupyter-core>=4.9.2->jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->leafmap) (4.5.1)
Requirement already satisfied: notebook-shim>=0.2.3 in /usr/local/lib/python3.12/dist-packages (from nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.2.4)
Requirement already satisfied: bleach!=5.0.0 in /usr/local/lib/python3.12/dist-packages (from bleach[css]!=5.0.0->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (6.3.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.3.0)
Requirement already satisfied: mistune<4,>=2.0.3 in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (3.2.0)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.10.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.5.1)
Requirement already satisfied: fastjsonschema>=2.15 in /usr/local/lib/python3.12/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (2.21.2)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.12/dist-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (25.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.12/dist-packages (from bleach!=5.0.0->bleach[css]!=5.0.0->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.5.1)
Requirement already satisfied: tinycss2<1.5,>=1.1.0 in /usr/local/lib/python3.12/dist-packages (from bleach[css]!=5.0.0->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.4.0)
Requirement already satisfied: jupyter-server<3,>=1.8 in /usr/local/lib/python3.12/dist-packages (from notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (2.14.0)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (2.0.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.12/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (3.0)
Requirement already satisfied: anyio>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (4.12.1)
Requirement already satisfied: jupyter-events>=0.9.0 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.12.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.5.4)
Requirement already satisfied: overrides>=5.0 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (7.7.0)
Requirement already satisfied: websocket-client>=1.7 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.9.0)
Requirement already satisfied: python-json-logger>=2.0.4 in /usr/local/lib/python3.12/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (4.0.0)
Requirement already satisfied: pyyaml>=5.3 in /usr/local/lib/python3.12/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (6.0.3)
Requirement already satisfied: rfc3339-validator in /usr/local/lib/python3.12/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in /usr/local/lib/python3.12/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.1.1)
Requirement already satisfied: fqdn in /usr/local/lib/python3.12/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.5.1)

In [ ]:
%pip install duckdb duckdb-engine jupysql

Requirement already satisfied: duckdb in /usr/local/lib/python3.12/dist-packages (1.4.4)
Collecting duckdb-engine
  Downloading duckdb_engine-0.17.0-py3-none-any.whl.metadata (8.4 kB)
Collecting jupysql
  Downloading jupysql-0.11.1-py3-none-any.whl.metadata (5.9 kB)
Requirement already satisfied: packaging>=21 in /usr/local/lib/python3.12/dist-packages (from duckdb-engine) (26.0)
Requirement already satisfied: sqlalchemy>=1.3.22 in /usr/local/lib/python3.12/dist-packages (from duckdb-engine) (2.0.46)
Requirement already satisfied: prettytable>=3.12.0 in /usr/local/lib/python3.12/dist-packages (from jupysql) (3.17.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from jupysql) (0.5.5)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.12/dist-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.12/dist-packages (from jupysql) (3.1.6)
Requirement already satisfied: sqlglot>=11.3.7 in /usr/local/lib/python3.12/dist-packages (from jupysql) (25.20.2)
Collecting jupysql-plugin>=0.4.2 (from jupysql)
  Downloading jupysql_plugin-0.4.5-py3-none-any.whl.metadata (7.8 kB)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.27-py3-none-any.whl.metadata (532 bytes)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.12/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0.3)
Collecting posthog>=3.0 (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-7.8.5-py3-none-any.whl.metadata (6.4 kB)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable>=3.12.0->jupysql) (0.5.3)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=1.3.22->duckdb-engine) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=1.3.22->duckdb-engine) (4.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2->jupysql) (3.0.3)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.32.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.17.0)
Requirement already satisfied: python-dateutil>=2.2 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Collecting backoff>=1.10.0 (from posthog>=3.0->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: distro>=1.5.0 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.9.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2026.1.4)
Downloading duckdb_engine-0.17.0-py3-none-any.whl (49 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.7/49.7 kB 2.7 MB/s eta 0:00:00
Downloading jupysql-0.11.1-py3-none-any.whl (95 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 kB 7.6 MB/s eta 0:00:00
Downloading jupysql_plugin-0.4.5-py3-none-any.whl (192 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 12.1 MB/s eta 0:00:00
Downloading ploomber_core-0.2.27-py3-none-any.whl (22 kB)
Downloading posthog-7.8.5-py3-none-any.whl (194 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 194.6/194.6 kB 10.9 MB/s eta 0:00:00
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Installing collected packages: backoff, posthog, duckdb-engine, ploomber-core, jupysql-plugin, jupysql
Successfully installed backoff-2.2.1 duckdb-engine-0.17.0 jupysql-0.11.1 jupysql-plugin-0.4.5 ploomber-core-0.2.27 posthog-7.8.5

In [ ]:
#import duckdb
#import pandas as pd

# Import jupysql Jupyter extension to ereate SQl cells
#%load_ext sql
#%config SqlMagic.autopandas = True
##%config SqlMagic.feedback = False
#%config SqlMagic.displaycon = False
#%sql duckdb:///:memory:

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# Section 1

The URL below points to a zip file containing the data on New York City that we've been working with so far.

https://s3.amazonaws.com/s3.cleverelephant.ca/postgis-workshop-2020.zip

In [ ]:
!wget https://s3.amazonaws.com/s3.cleverelephant.ca/postgis-workshop-2020.zip
!unzip -o postgis-workshop-2020.zip -d data

--2026-02-10 15:21:37--  https://s3.amazonaws.com/s3.cleverelephant.ca/postgis-workshop-2020.zip
Resolving s3.amazonaws.com (s3.amazonaws.com)... 16.15.218.242, 16.15.217.242, 52.217.135.128, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|16.15.218.242|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22547324 (22M) [application/zip]
Saving to: ‘postgis-workshop-2020.zip’

postgis-workshop-20 100%[===================>]  21.50M  16.6MB/s    in 1.3s

2026-02-10 15:21:38 (16.6 MB/s) - ‘postgis-workshop-2020.zip’ saved [22547324/22547324]

Archive:  postgis-workshop-2020.zip
   creating: data/postgis-workshop/
   creating: data/postgis-workshop/printing/
  inflating: data/postgis-workshop/printing/nyc_data_dictionary.pdf
  inflating: data/postgis-workshop/printing/postgis-workshop-exercises.docx
  inflating: data/postgis-workshop/printing/postgis-workshop-exercises.pdf
  inflating: data/postgis-workshop/printing/nyc_data_dictionary.docx
   creating: data/postgis-workshop/data/
  inflating: data/postgis-workshop/data/nyc_homicides.dbf
  inflating: data/postgis-workshop/data/nyc_neighborhoods.shx
  inflating: data/postgis-workshop/data/nyc_neighborhoods.shp
  inflating: data/postgis-workshop/data/nyc_census_blocks.shx
  inflating: data/postgis-workshop/data/nyc_streets.prj
  inflating: data/postgis-workshop/data/nyc_subway_stations.dbf
  inflating: data/postgis-workshop/data/nyc_census_blocks.shp
  inflating: data/postgis-workshop/data/nyc_subway_stations.shx
  inflating: data/postgis-workshop/data/nyc_census_blocks.dbf
  inflating: data/postgis-workshop/data/nyc_subway_stations.shp
  inflating: data/postgis-workshop/data/nyc_neighborhoods.dbf
  inflating: data/postgis-workshop/data/nyc_homicides.shx
  inflating: data/postgis-workshop/data/nyc_census_sociodata.sql
   creating: data/postgis-workshop/data/2000/
  inflating: data/postgis-workshop/data/2000/nyc_census_blocks_2000.prj
  inflating: data/postgis-workshop/data/2000/nyc_census_blocks_2000.shx
  inflating: data/postgis-workshop/data/2000/nyc_census_blocks_2000.shp
  inflating: data/postgis-workshop/data/2000/nyc_census_blocks_2000.dbf
  inflating: data/postgis-workshop/data/2000/nyc_census_sociodata_2000.sql
  inflating: data/postgis-workshop/data/nyc_homicides.shp
  inflating: data/postgis-workshop/data/nyc_neighborhoods.prj
  inflating: data/postgis-workshop/data/nyc_streets.shp
  inflating: data/postgis-workshop/data/nyc_census_blocks.prj
  inflating: data/postgis-workshop/data/nyc_streets.shx
  inflating: data/postgis-workshop/data/nyc_subway_stations.prj
  inflating: data/postgis-workshop/data/nyc_streets.dbf
  inflating: data/postgis-workshop/data/nyc_data.backup
  inflating: data/postgis-workshop/data/nyc_homicides.prj

In [ ]:
%pip -q install duckdb duckdb-engine jupysql leafmap

import leafmap
from pathlib import Path

%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False
%sql duckdb:///:memory:

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
#%%sql
#INSTALL httpfs;
#LOAD httpfs;

#INSTALL spatial;
#LOAD spatial;

Empty DataFrame
Columns: [Success]
Index: []

In [ ]:
# %sql ROLLBACK; # Magic sql kept giving error that needs me to ROLLBACK so in below's work I switched to conda

Empty DataFrame
Columns: [Success]
Index: []

In [ ]:
# restart / reset the magic connection
#%reload_ext sql
# %config SqlMagic.autopandas = True
#%config SqlMagic.feedback = False
#%config SqlMagic.displaycon = False
#%sql duckdb:///:memory:

In [ ]:
DATA_DIR = Path("data")
DATA_DIR.mkdir(exist_ok=True)

url = "https://s3.amazonaws.com/s3.cleverelephant.ca/postgis-workshop-2020.zip"
leafmap.download_file(url, output=str(DATA_DIR / "postgis-workshop-2020.zip"), unzip=True, overwrite=True)

!find data -maxdepth 4 -name "*.shp" -print

Downloading...
From: https://s3.amazonaws.com/s3.cleverelephant.ca/postgis-workshop-2020.zip
To: /content/data/postgis-workshop-2020.zip
100%|██████████| 22.5M/22.5M [00:01<00:00, 18.8MB/s]

Extracting files...
data/postgis-workshop/data/nyc_homicides.shp
data/postgis-workshop/data/nyc_streets.shp
data/postgis-workshop/data/nyc_subway_stations.shp
data/postgis-workshop/data/nyc_census_blocks.shp
data/postgis-workshop/data/nyc_neighborhoods.shp
data/postgis-workshop/data/2000/nyc_census_blocks_2000.shp

## Question 1

Create the following tables using the corresponding shapefiles.
- nyc_neighborhoods
- nyc_census_blocks
- nyc_homicides
- nyc_streets
- nyc_subway_stations

In [ ]:
import duckdb
from pathlib import Path

# Magic sql kept giving error so switching to conda syntax

DATA_DIR = Path("/content/data")
DATA_DIR.mkdir(parents=True, exist_ok=True)

shps = list(DATA_DIR.rglob("*.shp"))
print(f"Found {len(shps)} shapefiles under {DATA_DIR}")
for p in shps[:15]:
    print(" -", p)

def find_shp(keyword: str) -> Path:
    key = keyword.lower()
    matches = [p for p in shps if key in p.name.lower()]
    if not matches:
        raise FileNotFoundError(f"Cannot find shapefile with keyword '{keyword}'. "
                                f"Available names include: {[p.name for p in shps[:20]]}")
    return sorted(matches, key=lambda x: len(str(x)))[0]

paths = {
    "nyc_neighborhoods": find_shp("neighborhood"),
    "nyc_census_blocks": find_shp("census_blocks"),
    "nyc_homicides": find_shp("homicide"),
    "nyc_streets": find_shp("streets"),
    "nyc_subway_stations": find_shp("subway_stations"),
}

print("\nChosen shapefiles:")
for k, v in paths.items():
    print(f"{k}: {v}")

con = duckdb.connect(database=":memory:")
con.execute("INSTALL spatial;")
con.execute("LOAD spatial;")

for table, shp_path in paths.items():
    con.execute(f"""
        CREATE OR REPLACE TABLE {table} AS
        SELECT * FROM ST_Read('{shp_path.as_posix()}');
    """)

counts = con.execute("""
    SELECT 'nyc_neighborhoods' AS table, COUNT(*) AS n FROM nyc_neighborhoods
    UNION ALL SELECT 'nyc_census_blocks', COUNT(*) FROM nyc_census_blocks
    UNION ALL SELECT 'nyc_homicides', COUNT(*) FROM nyc_homicides
    UNION ALL SELECT 'nyc_streets', COUNT(*) FROM nyc_streets
    UNION ALL SELECT 'nyc_subway_stations', COUNT(*) FROM nyc_subway_stations
""").df()
counts

Found 6 shapefiles under /content/data
 - /content/data/postgis-workshop/data/nyc_homicides.shp
 - /content/data/postgis-workshop/data/nyc_streets.shp
 - /content/data/postgis-workshop/data/nyc_subway_stations.shp
 - /content/data/postgis-workshop/data/nyc_census_blocks.shp
 - /content/data/postgis-workshop/data/nyc_neighborhoods.shp
 - /content/data/postgis-workshop/data/2000/nyc_census_blocks_2000.shp

Chosen shapefiles:
nyc_neighborhoods: /content/data/postgis-workshop/data/nyc_neighborhoods.shp
nyc_census_blocks: /content/data/postgis-workshop/data/nyc_census_blocks.shp
nyc_homicides: /content/data/postgis-workshop/data/nyc_homicides.shp
nyc_streets: /content/data/postgis-workshop/data/nyc_streets.shp
nyc_subway_stations: /content/data/postgis-workshop/data/nyc_subway_stations.shp

                 table      n
0    nyc_neighborhoods    129
1    nyc_census_blocks  38794
2        nyc_homicides   3984
3          nyc_streets  19091
4  nyc_subway_stations    491

## Question 2:
How many subway stations are there in NYC?

In [ ]:
con.sql("""
SELECT COUNT(*) AS n_subway_stations
FROM nyc_subway_stations;
""")

┌───────────────────┐
│ n_subway_stations │
│       int64       │
├───────────────────┤
│               491 │
└───────────────────┘

## Question 3:

What combination of borough and year hard the largest number of homicide victims?

In [ ]:
con.execute("SELECT * FROM nyc_homicides;").df()

,INCIDENT_D,BORONAME,NUM_VICTIM,PRIMARY_MO,ID,WEAPON,LIGHT_DARK,YEAR,geom
0,2008-01-01,Brooklyn,1,None,7,gun,D,2008,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
1,2008-01-04,Manhattan,1,None,14,gun,D,2008,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
2,2008-01-05,Queens,1,None,15,gun,D,2008,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
3,2008-01-04,Queens,1,None,16,knife,D,2008,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
4,2008-01-05,Queens,1,None,18,gun,D,2008,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
...,...,...,...,...,...,...,...,...,...
3979,2010-10-11,The Bronx,1,None,4269,gun,None,2010,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
3980,2010-10-06,The Bronx,1,None,4271,knife,None,2010,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
3981,2011-07-26,The Bronx,1,None,4282,gun,None,2011,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
3982,2011-07-28,The Bronx,1,None,4284,gun,None,2011,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
3983,2011-08-01,The Bronx,1,None,4291,gun,None,2011,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."

In [ ]:
con.execute("DESCRIBE nyc_homicides;").df()

  column_name column_type null   key default extra
0  INCIDENT_D        DATE  YES  None    None  None
1    BORONAME     VARCHAR  YES  None    None  None
2  NUM_VICTIM     VARCHAR  YES  None    None  None
3  PRIMARY_MO     VARCHAR  YES  None    None  None
4          ID      BIGINT  YES  None    None  None
5      WEAPON     VARCHAR  YES  None    None  None
6  LIGHT_DARK     VARCHAR  YES  None    None  None
7        YEAR      BIGINT  YES  None    None  None
8        geom    GEOMETRY  YES  None    None  None

In [ ]:
BOROUGH_COL = "BORONAME"
DATE_COL    = "INCIDENT_D"

q3 = f"""
SELECT
  {BOROUGH_COL} AS borough,
  EXTRACT(YEAR FROM CAST({DATE_COL} AS DATE)) AS year,
  COUNT(*) AS n_victims
FROM nyc_homicides
GROUP BY 1,2
ORDER BY n_victims DESC
LIMIT 10;
"""
con.execute(q3).df()

     borough  year  n_victims
0   Brooklyn  2003        218
1   Brooklyn  2004        217
2   Brooklyn  2008        206
3   Brooklyn  2006        200
4   Brooklyn  2007        199
5   Brooklyn  2005        197
6   Brooklyn  2009        153
7  The Bronx  2006        141
8  The Bronx  2003        128
9  The Bronx  2008        127

## Question 4:

Which subway station has the largest number of shooting victims within a 300 meter radius?

In [ ]:
con.execute("DESCRIBE nyc_subway_stations;").df()

   column_name column_type null   key default extra
0     OBJECTID      DOUBLE  YES  None    None  None
1           ID      DOUBLE  YES  None    None  None
2         NAME     VARCHAR  YES  None    None  None
3     ALT_NAME     VARCHAR  YES  None    None  None
4     CROSS_ST     VARCHAR  YES  None    None  None
5    LONG_NAME     VARCHAR  YES  None    None  None
6        LABEL     VARCHAR  YES  None    None  None
7      BOROUGH     VARCHAR  YES  None    None  None
8       NGHBHD     VARCHAR  YES  None    None  None
9       ROUTES     VARCHAR  YES  None    None  None
10   TRANSFERS     VARCHAR  YES  None    None  None
11       COLOR     VARCHAR  YES  None    None  None
12     EXPRESS     VARCHAR  YES  None    None  None
13      CLOSED     VARCHAR  YES  None    None  None
14        geom    GEOMETRY  YES  None    None  None

In [ ]:
con.execute("SELECT * FROM nyc_subway_stations;").df()

,OBJECTID,ID,NAME,ALT_NAME,CROSS_ST,LONG_NAME,LABEL,BOROUGH,NGHBHD,ROUTES,TRANSFERS,COLOR,EXPRESS,CLOSED,geom
0,1.0,376.0,Cortlandt St,None,Church St,"Cortlandt St (R,W) Manhattan","Cortlandt St (R,W)",Manhattan,None,"R,W","R,W",YELLOW,None,None,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
1,2.0,2.0,Rector St,None,None,Rector St (1) Manhattan,Rector St (1),Manhattan,None,1,1,RED,None,None,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
2,3.0,1.0,South Ferry,None,None,South Ferry (1) Manhattan,South Ferry (1),Manhattan,None,1,1,RED,None,None,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
3,4.0,125.0,138th St,Grand Concourse,Grand Concourse,"138th St / Grand Concourse (4,5) Bronx","138th St / Grand Concourse (4,5)",Bronx,None,"4,5","4,5",GREEN,None,None,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
4,5.0,126.0,149th St,Grand Concourse,Grand Concourse,149th St / Grand Concourse (4) Bronx,149th St / Grand Concourse (4),Bronx,None,4,"2,4,5",GREEN,express,None,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,487.0,909.0,JFK Terminal 8,None,None,"JFK Terminal 8, Queens",JFK Terminal 8,Queens,None,None,None,AIR-BLUE,None,None,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
487,488.0,903.0,Federal Circle,Rental Car,None,"Federal Circle / Rental Car, Queens",Federal Circle / Rental Car,Queens,None,None,None,AIR-BLUE,None,None,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
488,489.0,902.0,Long Term Parking,None,None,"Long Term Parking, Queens",Long Term Parking,Queens,None,None,None,AIR-BLUE,None,None,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
489,490.0,901.0,Howard Beach,None,159th Ave,"Howard Beach, Queens",Howard Beach,Queens,None,None,A,AIR-BLUE,None,None,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
490,491.0,900.0,Jamaica,Sutphin Blvd,Sutphin Blvd,"Jamaica / Sutphin Blvd, Queens",Jamaica / Sutphin Blvd,Queens,None,None,"E,J,Z",AIR-BLUE,None,None,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."

In [ ]:
q4 = """
WITH gun_victims AS (
  SELECT
    geom,
    TRY_CAST(NUM_VICTIM AS INTEGER) AS num_victim_int
  FROM nyc_homicides
  WHERE LOWER(WEAPON) = 'gun'
),
station_totals AS (
  SELECT
    s.NAME AS station_name,
    SUM(COALESCE(h.num_victim_int, 0)) AS shooting_victims
  FROM nyc_subway_stations s
  JOIN gun_victims h
    ON ST_DWithin(s.geom, h.geom, 300)
  GROUP BY 1
)
SELECT station_name
FROM station_totals
ORDER BY shooting_victims DESC
LIMIT 1;
"""
con.execute(q4).df()

   station_name
0  Franklin Ave

In [ ]:
q4_top10 = """
WITH gun_victims AS (
  SELECT
    geom,
    TRY_CAST(NUM_VICTIM AS INTEGER) AS num_victim_int
  FROM nyc_homicides
  WHERE LOWER(WEAPON) = 'gun'
),
station_totals AS (
  SELECT
    s.NAME AS station_name,
    SUM(COALESCE(h.num_victim_int, 0)) AS shooting_victims
  FROM nyc_subway_stations s
  JOIN gun_victims h
    ON ST_DWithin(s.geom, h.geom, 300)
  GROUP BY 1
)
SELECT station_name, shooting_victims
FROM station_totals
ORDER BY shooting_victims DESC;
"""
con.execute(q4_top10).df()

     station_name  shooting_victims
0    Franklin Ave              28.0
1    Rockaway Ave              23.0
2        125th St              22.0
3        116th St              21.0
4       Utica Ave              21.0
..            ...               ...
212  Parsons Blvd               1.0
213      238th St               1.0
214      Court Sq               1.0
215      138th St               1.0
216       72nd St               1.0

[217 rows x 2 columns]

## Question 5

what is the most densely populated residential street in new york? (total population of intersecting census blocks divided by the total length of the street)

In [ ]:
con.execute("DESCRIBE nyc_streets;").df()

  column_name column_type null   key default extra
0          ID      BIGINT  YES  None    None  None
1        NAME     VARCHAR  YES  None    None  None
2      ONEWAY     VARCHAR  YES  None    None  None
3        TYPE     VARCHAR  YES  None    None  None
4        geom    GEOMETRY  YES  None    None  None

In [ ]:
con.execute("""
SELECT *
FROM nyc_streets;
""").df()

,ID,NAME,ONEWAY,TYPE,geom
0,1,Shore Pky S,None,residential,"[1, 4, 0, 0, 0, 0, 0, 0, 23, 66, 15, 73, 202, ..."
1,2,None,None,footway,"[1, 4, 0, 0, 0, 0, 0, 0, 80, 57, 15, 73, 35, 1..."
2,3,Avenue O,None,residential,"[1, 4, 0, 0, 0, 0, 0, 0, 228, 63, 15, 73, 219,..."
3,4,Walsh Ct,None,residential,"[1, 4, 0, 0, 0, 0, 0, 0, 139, 62, 15, 73, 102,..."
4,5,None,None,motorway_link,"[1, 4, 0, 0, 0, 0, 0, 0, 176, 53, 15, 73, 16, ..."
...,...,...,...,...,...
19086,17378,FDR Dr,yes,motorway,"[1, 4, 0, 0, 0, 0, 0, 0, 191, 114, 14, 73, 206..."
19087,17382,FDR Dr,yes,motorway,"[1, 4, 0, 0, 0, 0, 0, 0, 18, 115, 14, 73, 192,..."
19088,19039,FDR Dr,None,motorway,"[1, 4, 0, 0, 0, 0, 0, 0, 98, 50, 15, 73, 233, ..."
19089,19053,FDR Dr,None,motorway,"[1, 4, 0, 0, 0, 0, 0, 0, 59, 51, 15, 73, 94, 1..."
19090,19082,FDR Dr,None,motorway,"[1, 4, 0, 0, 0, 0, 0, 0, 229, 52, 15, 73, 73, ..."

In [ ]:
con.execute("SELECT * FROM nyc_census_blocks;").df()

,BLKID,POPN_TOTAL,POPN_WHITE,POPN_BLACK,POPN_NATIV,POPN_ASIAN,POPN_OTHER,BORONAME,geom
0,360850009001000,97,51,32,1,5,8,Staten Island,"[2, 4, 0, 0, 0, 0, 0, 0, 55, 3, 13, 73, 151, 8..."
1,360850020011000,66,52,2,0,7,5,Staten Island,"[2, 4, 0, 0, 0, 0, 0, 0, 178, 58, 13, 73, 72, ..."
2,360850040001000,62,14,18,2,25,3,Staten Island,"[2, 4, 0, 0, 0, 0, 0, 0, 82, 227, 12, 73, 55, ..."
3,360850074001000,137,92,12,0,13,20,Staten Island,"[2, 4, 0, 0, 0, 0, 0, 0, 204, 85, 13, 73, 103,..."
4,360850096011000,289,230,0,0,32,27,Staten Island,"[2, 4, 0, 0, 0, 0, 0, 0, 107, 247, 12, 73, 7, ..."
...,...,...,...,...,...,...,...,...,...
38789,360050295001004,328,267,14,2,8,37,The Bronx,"[2, 4, 0, 0, 0, 0, 0, 0, 118, 130, 16, 73, 15,..."
38790,360050295002002,0,0,0,0,0,0,The Bronx,"[2, 4, 0, 0, 0, 0, 0, 0, 244, 138, 16, 73, 135..."
38791,360050419004001,0,0,0,0,0,0,The Bronx,"[2, 4, 0, 0, 0, 0, 0, 0, 78, 3, 17, 73, 85, 28..."
38792,360050255002001,480,96,96,20,12,256,The Bronx,"[2, 4, 0, 0, 0, 0, 0, 0, 4, 123, 16, 73, 154, ..."
38793,360050245012000,655,154,174,19,0,308,The Bronx,"[2, 4, 0, 0, 0, 0, 0, 0, 176, 84, 16, 73, 55, ..."

In [ ]:
q5 = """
WITH streets_res AS (
  SELECT
    ID AS street_id,
    NAME AS street_name,
    geom,
    ST_Length(geom) AS street_len
  FROM nyc_streets
  WHERE TYPE = 'residential'
    AND NAME IS NOT NULL
),
street_block AS (
  SELECT DISTINCT
    s.street_id,
    b.BLKID,
    TRY_CAST(b.POPN_TOTAL AS DOUBLE) AS pop
  FROM streets_res s
  JOIN nyc_census_blocks b
    ON ST_Intersects(s.geom, b.geom)
),
pop_by_street AS (
  SELECT
    street_id,
    SUM(COALESCE(pop, 0)) AS pop_sum
  FROM street_block
  GROUP BY 1
)
SELECT s.street_name
FROM streets_res s
JOIN pop_by_street p
  ON s.street_id = p.street_id
ORDER BY (p.pop_sum / NULLIF(s.street_len, 0)) DESC
LIMIT 1;
"""
con.sql(q5)

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

┌─────────────┐
│ street_name │
│   varchar   │
├─────────────┤
│ W 66 St     │
└─────────────┘

In [ ]:
q5_check = """
WITH streets_res AS (
  SELECT
    ID AS street_id,
    NAME AS street_name,
    geom,
    ST_Length(geom) AS street_len
  FROM nyc_streets
  WHERE TYPE = 'residential'
    AND NAME IS NOT NULL
),
street_block AS (
  SELECT DISTINCT
    s.street_id,
    b.BLKID,
    TRY_CAST(b.POPN_TOTAL AS DOUBLE) AS pop
  FROM streets_res s
  JOIN nyc_census_blocks b
    ON ST_Intersects(s.geom, b.geom)
),
pop_by_street AS (
  SELECT
    street_id,
    SUM(COALESCE(pop, 0)) AS pop_sum
  FROM street_block
  GROUP BY 1
)
SELECT
  s.street_name,
  p.pop_sum,
  s.street_len,
  (p.pop_sum / NULLIF(s.street_len, 0)) AS density
FROM streets_res s
JOIN pop_by_street p
  ON s.street_id = p.street_id
ORDER BY density DESC
LIMIT 10;
"""
con.execute(q5_check).df()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

        street_name  pop_sum  street_len      density
0           W 66 St   2969.0    0.920966  3223.787480
1      Rikers Is Br   8634.0   20.432562   422.560822
2        Eagle N Ln   1457.0    4.089756   356.255957
3  St Nicholas's Pl   4464.0   21.328592   209.296513
4         Pompei Rd   1215.0    8.141834   149.229278
5     Edgecombe Ave   4464.0   32.751127   136.300653
6         Cannon Dr   1185.0    8.911615   132.972528
7     West 142nd St   2644.0   22.631883   116.826338
8           East Rd   5655.0   49.918042   113.285693
9     Eagle Nest Ln   3550.0   35.149341   100.997626

# Section 2

This section uses internet speed data from [Ookla](https://github.com/teamookla/ookla-open-data); take a minute to read the documentation of the dataset.

Create a table called ookla_nyc which reads the data from this url:

https://storage.googleapis.com/qm2/CASA0025/ookla_nyc.parquet

In [ ]:

con.execute("INSTALL httpfs;")
con.execute("LOAD httpfs;")

con.execute("""
CREATE OR REPLACE TABLE ookla_nyc AS
SELECT *
FROM read_parquet('https://storage.googleapis.com/qm2/CASA0025/ookla_nyc.parquet');
""")
con.execute("SELECT * FROM ookla_nyc;").df()

,quadkey,tile_x,tile_y,avg_d_kbps,avg_u_kbps,avg_lat_ms,avg_lat_down_ms,avg_lat_up_ms,tests,devices,quarter,type,year,geometry
0,0320101100103011,-74.2923,40.9446,725128,135953,11,57,216,6,3,3,fixed,2025,"POLYGON ((559335.820448 4533081.030772, 559798..."
1,0320101100103100,-74.2868,40.9446,119511,14121,12,814,210,7,1,3,fixed,2025,"POLYGON ((559798.18087 4533084.773678, 560260...."
2,0320101100103101,-74.2813,40.9446,239400,33087,19,123,86,2,2,3,fixed,2025,"POLYGON ((560260.541371 4533088.54564, 560722...."
3,0320101100103103,-74.2813,40.9405,351406,314161,3,12,26,1,1,3,fixed,2025,"POLYGON ((560264.313317 4532627.94173, 560726...."
4,0320101100103110,-74.2758,40.9446,327591,153403,6,315,155,5,3,3,fixed,2025,"POLYGON ((560722.90195 4533092.346658, 561185...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7640,0320101112032330,-73.7045,40.5868,338042,127343,7,288,115,25,10,3,fixed,2025,"POLYGON ((609394.212209 4493928.828805, 609859..."
7641,0320101112032332,-73.7045,40.5827,130280,32110,28,968,520,4,4,3,fixed,2025,"POLYGON ((609401.010858 4493465.754043, 609865..."
7642,0320101112200000,-73.8254,40.5785,1100723,39080,15,138,46,1,1,3,fixed,2025,"POLYGON ((599179.650204 4492859.525085, 599644..."
7643,0320101112203300,-73.7595,40.5284,12934,741,676,1575,800,2,2,3,fixed,2025,"POLYGON ((604836.739113 4487376.40356, 605302...."
7644,0320101112210110,-73.7045,40.5785,35127,949,650,3642,689,1,1,3,fixed,2025,"POLYGON ((609407.809349 4493002.650716, 609872..."

In [ ]:
con.execute("""
CREATE OR REPLACE VIEW ookla AS
SELECT
  *,
  ST_GeomFromText(geometry) AS geom
FROM ookla_nyc;
""")

## Question 6
How many tiles are contained within new york city neighbourhoods?

In [ ]:
q6 = """
SELECT COUNT(DISTINCT o.quadkey) AS n_tiles_within_neighborhoods
FROM ookla o
JOIN nyc_neighborhoods n
  ON ST_Within(o.geom, n.geom);
"""
con.sql(q6)

┌──────────────────────────────┐
│ n_tiles_within_neighborhoods │
│            int64             │
├──────────────────────────────┤
│                         1403 │
└──────────────────────────────┘

## Question 7

Which neighbourhood has the highest average download speed? use 'within' rather than intersects, and ignore tiles with fewer than 3 tests.

In [ ]:
con.execute("SELECT * FROM nyc_neighborhoods;").df()

,BORONAME,NAME,geom
0,Brooklyn,Bensonhurst,"[2, 4, 0, 0, 0, 0, 0, 0, 54, 71, 14, 73, 198, ..."
1,Manhattan,East Village,"[2, 4, 0, 0, 0, 0, 0, 0, 35, 215, 14, 73, 139,..."
2,Manhattan,West Village,"[2, 4, 0, 0, 0, 0, 0, 0, 161, 95, 14, 73, 212,..."
3,The Bronx,Throggs Neck,"[2, 4, 0, 0, 0, 0, 0, 0, 128, 232, 17, 73, 174..."
4,The Bronx,Wakefield-Williamsbridge,"[2, 4, 0, 0, 0, 0, 0, 0, 83, 85, 17, 73, 17, 2..."
...,...,...,...
124,Brooklyn,Red Hook,"[5, 4, 0, 0, 0, 0, 0, 0, 18, 0, 14, 73, 149, 8..."
125,Queens,Douglastown-Little Neck,"[2, 4, 0, 0, 0, 0, 0, 0, 251, 165, 19, 73, 76,..."
126,Queens,Whitestone,"[5, 4, 0, 0, 0, 0, 0, 0, 17, 75, 18, 73, 86, 2..."
127,Queens,Steinway,"[5, 4, 0, 0, 0, 0, 0, 0, 124, 87, 16, 73, 87, ..."
128,Staten Island,Rosebank,"[2, 4, 0, 0, 0, 0, 0, 0, 176, 94, 13, 73, 11, ..."

In [ ]:
q7 = """
SELECT
  n.NAME AS neighborhood,
  AVG(o.avg_d_kbps) AS avg_download_kbps
FROM nyc_neighborhoods n
JOIN ookla o
  ON ST_Within(o.geom, n.geom)
WHERE o.tests >= 3
GROUP BY 1
ORDER BY avg_download_kbps DESC
LIMIT 1;
"""
con.sql(q7)

┌──────────────┬───────────────────┐
│ neighborhood │ avg_download_kbps │
│   varchar    │      double       │
├──────────────┼───────────────────┤
│ Woodside     │ 455960.3333333333 │
└──────────────┴───────────────────┘

In [ ]:
q7 = """
SELECT
  n.NAME AS neighborhood,
  AVG(o.avg_d_kbps) AS avg_download_kbps
FROM nyc_neighborhoods n
JOIN ookla o
  ON ST_Within(o.geom, n.geom)
WHERE o.tests >= 3
GROUP BY 1
ORDER BY avg_download_kbps DESC
LIMIT 10;
"""
con.sql(q7)

┌─────────────────────────┬────────────────────┐
│      neighborhood       │ avg_download_kbps  │
│         varchar         │       double       │
├─────────────────────────┼────────────────────┤
│ Woodside                │  455960.3333333333 │
│ Glendale                │ 430165.77777777775 │
│ Springfield Gardens     │ 429906.35714285716 │
│ Woodlawn-Nordwood       │          423304.25 │
│ East Harlem             │           416162.5 │
│ Yorkville               │           413614.0 │
│ Woodhaven-Richmond Hill │           403821.8 │
│ Greenwood               │           402555.0 │
│ West Village            │           397696.0 │
│ Clifton                 │           395948.0 │
├─────────────────────────┴────────────────────┤
│ 10 rows                            2 columns │
└──────────────────────────────────────────────┘

## Question 8

What is the name of the subway station closest to the tile with the highest download speed?

In [ ]:
q8 = """
WITH max_speed AS (
  SELECT MAX(avg_d_kbps) AS mx
  FROM ookla
),
best_tiles AS (
  SELECT quadkey, geom, avg_d_kbps
  FROM ookla
  WHERE avg_d_kbps = (SELECT mx FROM max_speed)
),
nearest_station AS (
  SELECT
    s.NAME AS station_name,
    MIN(ST_Distance(s.geom, ST_Centroid(t.geom))) AS dist_to_best_tile
  FROM nyc_subway_stations s
  CROSS JOIN best_tiles t
  GROUP BY 1
)
SELECT station_name
FROM nearest_station
ORDER BY dist_to_best_tile ASC
LIMIT 1;
"""
con.execute(q8).df()

  station_name
0     190th St

In [ ]:
q8 = """
WITH max_speed AS (
  SELECT MAX(avg_d_kbps) AS mx
  FROM ookla
),
best_tiles AS (
  SELECT quadkey, geom, avg_d_kbps
  FROM ookla
  WHERE avg_d_kbps = (SELECT mx FROM max_speed)
),
nearest_station AS (
  SELECT
    s.NAME AS station_name,
    MIN(ST_Distance(s.geom, ST_Centroid(t.geom))) AS dist_to_best_tile
  FROM nyc_subway_stations s
  CROSS JOIN best_tiles t
  GROUP BY 1
)
SELECT station_name
FROM nearest_station
ORDER BY dist_to_best_tile ASC
LIMIT 10;
"""
con.execute(q8).df()

  station_name
0     190th St
1     181st St
2     175th St
3   Dyckman St
4     191st St
5     168th St
6     207th St
7     157th St
8     163rd St
9     145th St

## Question 9

Which neighbourhood has the highest number of devices per capita? Use only spatial intersections.

In [ ]:
q9 = """
WITH devices_by_n AS (
  SELECT
    n.NAME AS neighborhood,
    SUM(COALESCE(o.devices, 0)) AS devices_sum
  FROM nyc_neighborhoods n
  JOIN (
    SELECT DISTINCT quadkey, devices, geom
    FROM ookla
  ) o
    ON ST_Intersects(o.geom, n.geom)
  GROUP BY 1
),
pop_by_n AS (
  SELECT
    n.NAME AS neighborhood,
    SUM(COALESCE(TRY_CAST(b.POPN_TOTAL AS DOUBLE), 0)) AS pop_sum
  FROM nyc_neighborhoods n
  JOIN (
    SELECT DISTINCT BLKID, POPN_TOTAL, geom
    FROM nyc_census_blocks
  ) b
    ON ST_Intersects(b.geom, n.geom)
  GROUP BY 1
)
SELECT d.neighborhood
FROM devices_by_n d
JOIN pop_by_n p USING (neighborhood)
ORDER BY (d.devices_sum / NULLIF(p.pop_sum, 0)) DESC
LIMIT 1;
"""
con.execute(q9).df()

  neighborhood
0       Corona

In [ ]:
con.execute("""
WITH pop_by_n AS (
  SELECT
    n.NAME AS neighborhood,
    SUM(COALESCE(TRY_CAST(b.POPN_TOTAL AS DOUBLE), 0)) AS pop_sum
  FROM nyc_neighborhoods n
  JOIN nyc_census_blocks b
    ON ST_Intersects(b.geom, n.geom)
  GROUP BY 1
)
SELECT *
FROM pop_by_n
WHERE pop_sum = 0
ORDER BY neighborhood;
""").df()

   neighborhood  pop_sum
0       Bayside      0.0
1  Coney Island      0.0
2      Flatbush      0.0
3      Red Hook      0.0
4      Steinway      0.0

In [ ]:
q9_top10 = """
WITH devices_by_n AS (
  SELECT
    n.NAME AS neighborhood,
    SUM(COALESCE(o.devices, 0)) AS devices_sum
  FROM nyc_neighborhoods n
  JOIN (SELECT DISTINCT quadkey, devices, geom FROM ookla) o
    ON ST_Intersects(o.geom, n.geom)
  GROUP BY 1
),
pop_by_n AS (
  SELECT
    n.NAME AS neighborhood,
    SUM(COALESCE(TRY_CAST(b.POPN_TOTAL AS DOUBLE), 0)) AS pop_sum
  FROM nyc_neighborhoods n
  JOIN (SELECT DISTINCT BLKID, POPN_TOTAL, geom FROM nyc_census_blocks) b
    ON ST_Intersects(b.geom, n.geom)
  GROUP BY 1
)
SELECT
  d.neighborhood,
  d.devices_sum,
  p.pop_sum,
  (d.devices_sum / NULLIF(p.pop_sum, 0)) AS devices_per_capita
FROM devices_by_n d
JOIN pop_by_n p USING (neighborhood)
WHERE p.pop_sum>0
ORDER BY devices_per_capita DESC;
"""
con.execute(q9_top10).df()

            neighborhood  devices_sum   pop_sum  devices_per_capita
0                 Corona        162.0     333.0            0.486486
1       Garment District       2253.0   10539.0            0.213777
2            Fresh Kills         21.0     100.0            0.210000
3               Rosedale         10.0     111.0            0.090090
4               Downtown       1047.0   11643.0            0.089925
..                   ...          ...       ...                 ...
118              Tremont        916.0  122743.0            0.007463
119       Morris Heights        547.0   73413.0            0.007451
120        The Rockaways        770.0  112535.0            0.006842
121  Springfield Gardens        272.0   41157.0            0.006609
122        Port Richmond        140.0   21257.0            0.006586

[123 rows x 4 columns]

## Question 10

What is the average upload speed for tiles that are within 200 meters of L train stops and intersect with census blocks where the black population is above 50%?

In [ ]:
q10 = """
WITH l_stops AS (
  SELECT geom
  FROM nyc_subway_stations
  WHERE strpos(ROUTES, 'L') > 0
),
majority_black_blocks AS (
  SELECT geom
  FROM nyc_census_blocks
  WHERE (TRY_CAST(POPN_BLACK AS DOUBLE) / NULLIF(TRY_CAST(POPN_TOTAL AS DOUBLE), 0)) > 0.5
),
eligible_tiles AS (
  SELECT DISTINCT o.quadkey, o.avg_u_kbps
  FROM ookla o
  JOIN l_stops s
    ON ST_DWithin(o.geom, s.geom, 200)
  JOIN majority_black_blocks b
    ON ST_Intersects(o.geom, b.geom)
)
SELECT AVG(avg_u_kbps) AS avg_upload_kbps
FROM eligible_tiles;
"""
con.execute(q10).df()

   avg_upload_kbps
0    113172.961538